@model RestaurantManagementProject.Controllers.DepartmentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentManager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentSalary)
        </dd>
    </dl>
    @if (Model.Staffs.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        StaffName
                    </th>
                    <th>
                        PhoneNo
                    </th>
                    <th>
                        Availability
                    </th>
                    <th>
                        Password
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var staffs in Model.Staffs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => staffs.StaffName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => staffs.PhoneNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => staffs.Availability)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => staffs.Password)
                        </td>
                        <td>
                            @Html.ActionLink("Edit","Edit","Staffs", new {id = staffs.Id})
                            @Html.ActionLink("Details","Details","Staffs", new {id = staffs.Id})
                            @Html.ActionLink("Delete","Delete","Staffs", new {id = staffs.Id})

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DepartmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
