@model IEnumerable<RestaurantManagementProject.Models.Department>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentSalary)
            </td>
            @if(SignInManager.IsSignedIn(User))
                {
                     <td>
                        <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <p>Only Authorised users will see Create, Edit, or Delete link !!!</p>
                    </td>
                }
               
        </tr>
}
    </tbody>
</table>
